.header-parent {
    display: flex;
    justify-content: space-between;
}

.main-doc-bg {
    background-color: #f0f0f0;
}

.bottom-button {
    color: azure;
    background-color: black;
    /* padding: 10px; */
    border-radius: 4px;
    /* padding-left: 13px;
    padding-right: 13px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: flex;
    justify-content: center; */
    justify-self: center;
    width: 20%;
    margin-top: 50px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-pg-redirect {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.bottom {
    color: #515357;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 30px;
    font: normal 400 20px / 1.8 Lato;
    margin-bottom: 70px;
}